//=========================layout
html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;

}

main{
    margin-top: 5rem;
}

footer{
    font-size: 0.875rem;
    margin-top: auto;
    .source{
        color: #FFD366;
    }
}

//=========================header
.header-bg{
    width: 100%;
    height: 380px;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.title{
    letter-spacing: 5px;
}

.select-area{
    width: 50%;
    border: solid 2px white;
    background-color: rgba(white,0.7);
    @media (max-width: 768px) {
        width: 90%;
    }
}

.btn-area{
    color: white;
    margin: 0rem 0.5rem;
    padding: 0.375rem 2rem;
    border-radius: 0.25rem;
    border: none;
    @media (max-width: 768px) {
        padding: 0.375rem 1.5rem;
    }
}

.divider{
    width: 100%;
    height: 1px;
    border: dashed 1px $custom-blue;
    display: flex;
    justify-content: center;
    i{
        position: relative;
        top: -0.75rem;
        width: 1.5rem;
        height: 1.5rem;
        color: $custom-blue;
        background-color: #fff;
        text-align: center;
        border-radius: 100%;
        border: solid 2px $custom-blue;
    }
}

.time{
    display: flex;
    &::before{
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../images/icon-time.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.location{
    display: flex;
    &::before{
        content: "";
        display: block;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        background-image: url(../images/icon-location.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.phone{
    display: flex;
    &::before{
        content: "";
        display: block;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        background-image: url(../images/icon-phone.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.tag{
    display: flex;
    &::before{
        content: "";
        display: block;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        background-image: url(../images/icon-tag.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.pagination{
    .page-item{
        &.active{
            background-color:#559AC8;
            .page-link{
                color: white;
            }
        }
    }
    .page-link{
        border: none;
    }
}
.card-img-container{
    aspect-ratio: 16 / 9;
    overflow: hidden;
}